body {
	background: #EEEEEE;
	font-family: sans-serif;
	text-align: center;
}

.content {
	background: #FFFFFF;
	max-width: 800px;
	display: inline-block;
	text-align: left;
	padding: 10px;
	box-shadow: 0px 0px 5px #888888;
	border-radius: 2px;
}

h1 {
	border-bottom: 5px solid black;
}
h2 {
	margin-bottom: 0px;
}
p {
	margin-top: 5px;
}



.calculator {
	margin-top: 50px;
	text-align: center;
	border-top: 5px solid black;
}

.failed {
	color: #FFBBBB;
}

.parameters {
	margin: auto;
	width: 550px;
	text-align: left;
	padding: 10px;
	display: block;
}

#inputs {
	margin: 0px;
	width: 550px;
}

.parameter_container {
	display: block;
	height: 40px;
	width: 550px;
}

#set_solver {
	width: 210px;
}

.parameter_container .name {
	display: inline-block;
	height: 25px;
	width: 200px;
	text-align: right;
	margin-right: 20px;
}
.parameter_container .unit {
	display: inline-block;
	height: 25px;
	min-width: 100px;
	text-align: left;
	margin-left: 5px;
}

.parameter_container .value {
	display: inline-block;
	height: 25px;
	width: 60px;
}

.parameter_container .output_value {
	display: inline-block;
	height: 25px;
	min-width: 60px;
}

#diagram{
	width: 100%;
}

/* The slider itself */
.slider {
	vertical-align: middle;
	-webkit-appearance: none;  /* Override default CSS styles */
	appearance: none;
	width: 150px; /* Full-width */
	height: 25px; /* Specified height */
	background: #d3d3d3; /* Grey background */
	outline: none; /* Remove outline */
	opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
	-webkit-transition: .2s; /* 0.2 seconds transition on hover */
	transition: opacity .2s;
}
/* Mouse-over effects */
.slider:hover {
	opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	width: 25px; /* Set a specific slider handle width */
	height: 25px; /* Slider handle height */
	background: #4CAF50; /* Green background */
	cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
	width: 25px; /* Set a specific slider handle width */
	height: 25px; /* Slider handle height */
	background: #4CAF50; /* Green background */
	cursor: pointer; /* Cursor on hover */
}
